* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 18px;
    border: 2px solid #000;
    border-radius: 10px;
}

.input-display {
    width: 315px;
    height: 64px;
    border-radius: 5px;
    background: #d8d6d6;
    color: #000;
    font-size: 24px;
    text-align: right;
}

.numbers-actions-keys {
    display: flex;
    justify-content: space-between;
}

.numbers-keys {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fifth-row,
.forth-row,
.third-row,
.second-row,
.first-row {
    display: flex;
    gap: 10px;
}

.number-btns,
.operator-btns,
.equals,
.delete {
    padding: 25px 0;
}

.number-btns.double-size {
    width: 150px;
    border-bottom-left-radius: 12px;
}

.actions-keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.action-btns.clear {
    border-bottom-right-radius: 12px;
    height: 152px;
    background: #f44336;
}